name: Build and Upload Artifacts
on:
  push:
    branches: [master]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup Java JDK
      uses: actions/setup-java@v3.10.0
      with:
        java-version: 8
        distribution: 'temurin'
    - name: Build with Gradle
      run: chmod +x ./gradlew
    - name: Generate jar with Gradle
      run: ./gradlew jar
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        path: build/libs/**.jar
